.align-center {
    text-align: center;
}
.width-100 {
    width: 100%;
}
ul {
    list-style-type: none;
}
ul li {
    cursor: move;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}