<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" >
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!currentUser"><a href="#/register">Register</a></li>
                <li ng-if="!currentUser"><a href="#/login">Login</a></li>
                <li ng-if="currentUser"><a href="#/profile">{{currentUser.username}}</a></li>
                <li ng-if="currentUser"><a href="#/forms">Forms</a></li>
                <li ng-if="currentUser.roles.indexOf('admin')>-1"><a href="#/admin">Admin</a></li>
                <li ng-if="currentUser"><a href="" ng-click="controller.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>