<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Forms</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <h2 class="align-center col-md-9">{{controller.selectedForm.title}}</h2>
            <form>
                <ul sortable-fields id="sortable-fields">
                    <li ng-repeat="field in controller.sortableArray" ng-switch="field.type">
                        <div class="col-md-9" ng-switch-when="TEXT">
                            <label id="textLabel">{{field.label}}</label>
                            <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                        </div>

                        <script type="text/ng-template" id="TEXTDialogBox" title="Single Line Field">
                            <form>
                                <div class="form-group">
                                    <label for="editTEXTLabel">
                                        Edit Label:
                                    </label>
                                    <input id="editTEXTLabel" type="text" ng-model="controller.editTEXTLabel" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="editTEXTPlaceholder">
                                        Edit Placeholder:
                                    </label>
                                    <input id="editTEXTPlaceholder" type="text" ng-model="controller.editTEXTPlaceholder" class="form-control">
                                </div>
                                <input type="submit" class="btn btn-default" value="Update Text Field"
                                       ng-click="closeThisDialog({'label':controller.editTEXTLabel, 'placeholder':controller.editTEXTPlaceholder})">
                            </form>
                        </script>

                        <div class="col-md-9" ng-switch-when="EMAIL">
                            <label>{{field.label}}</label>
                            <input type="email" class="form-control" placeholder="{{field.placeholder}}">
                        </div>

                        <div class="col-md-9" ng-switch-when="TEXTAREA">
                            <label>{{field.label}}</label>
                            <textarea class="width-100" rows="5" placeholder="{{field.placeholder}}"></textarea>
                        </div>

                        <script type="text/ng-template" id="TEXTAREADialogBox" title="Single Line Field">
                            <form>
                                <div class="form-group">
                                    <label for="editTEXTAREALabel">
                                        Edit Label:
                                    </label>
                                    <input id="editTEXTAREALabel" type="text" ng-model="controller.editTEXTAREALabel" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="editTEXTAREAPlaceholder">
                                        Edit Placeholder:
                                    </label>
                                    <input id="editTEXTAREAPlaceholder" type="text" ng-model="controller.editTEXTAREAPlaceholder" class="form-control">
                                </div>
                                <input type="submit" class="btn btn-default" value="Update Multiline Text Field"
                                       ng-click="closeThisDialog({'label':controller.editTEXTAREALabel, 'placeholder':controller.editTEXTAREAPlaceholder})">
                            </form>
                        </script>

                        <div class="col-md-9" ng-switch-when="DATE">
                            <label for="field.label">{{field.label}}</label>
                            <input type="date" class="form-control" id="field.label">
                        </div>

                        <script type="text/ng-template" id="DATEDialogBox" title="Single Line Field">
                            <form>
                                <div class="form-group">
                                    <label for="editDATELabel">
                                        Edit Label:
                                    </label>
                                    <input id="editDATELabel" type="text" ng-model="controller.editDATELabel" class="form-control">
                                </div>
                                <input type="submit" class="btn btn-default" value="Update Date Field"
                                       ng-click="closeThisDialog(controller.editDATELabel)">
                            </form>
                        </script>

                        <div class="col-md-9" ng-switch-when="OPTIONS">
                            <label for="field.label">{{field.label}}</label>
                            <select class="form-control" id="field.label">
                                <option ng-repeat="option in field.options">{{option.label}}</option>
                            </select>
                        </div>

                        <script type="text/ng-template" id="OPTIONSDialogBox" title="Single Line Field">
                            <form>
                                <div class="form-group">
                                    <label for="editOPTIONSLabel">
                                        Edit Label:
                                    </label>
                                    <input id="editOPTIONSLabel" type="text" ng-model="controller.editOPTIONSLabel" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="editOPTIONSOptions">
                                        Edit Options:
                                    </label>
                                    <p>Please enter each option on a separate line, following the format LABEL:VALUE. Label is the text which will display in the dropdown.</p>
                                    <textarea id="editOPTIONSOptions" ng-model="controller.editOPTIONSOptions" class="form-control"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Update Options Field"
                                       ng-click="closeThisDialog({'label':controller.editOPTIONSLabel, 'options':controller.editOPTIONSOptions})">
                            </form>
                        </script>

                        <div class="col-md-9" ng-switch-when="CHECKBOXES">
                            <label>{{field.label}}:</label>
                            <div ng-repeat="option in field.options">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{option.value}}">{{option.label}}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <script type="text/ng-template" id="CHECKBOXESDialogBox" title="Single Line Field">
                            <form>
                                <div class="form-group">
                                    <label for="editCHECKBOXESLabel">
                                        Edit Label:
                                    </label>
                                    <input id="editCHECKBOXESLabel" type="text" ng-model="controller.editCHECKBOXESLabel" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="editCHECKBOXESOptions">
                                        Edit Options:
                                    </label>
                                    <p>Please enter each option on a separate line, following the format LABEL:VALUE</p>
                                    <textarea id="editCHECKBOXESOptions" ng-model="controller.editCHECKBOXESOptions" class="form-control"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Update Checkboxes Field"
                                       ng-click="closeThisDialog({'label':controller.editCHECKBOXESLabel, 'options':controller.editCHECKBOXESOptions})">
                            </form>
                        </script>

                        <div class="col-md-9" ng-switch-when="RADIOS">
                            <label>{{field.label}}</label>
                            <div ng-repeat="option in field.options">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{option.value}}" name="radiosOptions"> {{option.label}}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <script type="text/ng-template" id="RADIOSDialogBox" title="Single Line Field">
                            <form>
                                <div class="form-group">
                                    <label for="editRADIOSLabel">
                                        Edit Label:
                                    </label>
                                    <input id="editRADIOSLabel" type="text" ng-model="controller.editRADIOSLabel" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="editRADIOSOptions">
                                        Edit Options:
                                    </label>
                                    <p>Please enter each option on a separate line, following the format LABEL:VALUE</p>
                                    <textarea id="editRADIOSOptions" ng-model="controller.editRADIOSOptions" class="form-control"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Update Checkboxes Field"
                                       ng-click="closeThisDialog({'label':controller.editRADIOSLabel, 'options':controller.editRADIOSOptions})">
                            </form>
                        </script>


                        <div class="col-md-3">
                            <br>
                            <button ng-click="controller.openDialog(field.type, field)">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </button>
                            <button ng-click="controller.removeField(field)">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </button>
                            <button ng-click="controller.selectField(field)">
                                <scan class="glyphicon glyphicon-menu-hamburger"></scan>
                            </button>
                        </div>
                    </li>
                </ul>
                <hr>
                <div class="row">
                    <div class="col-md-9">
                        <label for="newField">Add a New Field:</label>
                        <select class="form-control" id="newField" ng-model="controller.fieldType">
                            <option selected>Single Line Text Field</option>
                            <option>Multi Line Text Field</option>
                            <option>Date Field</option>
                            <option>Dropdown Field</option>
                            <option>Checkboxes Field</option>
                            <option>Radio Buttons Field</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <br>
                        <button ng-click="controller.addField(controller.fieldType)">
                            <scan class="glyphicon glyphicon-plus " aria-hidden="true "></scan>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>