<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Forms</h1>
    <div class="panel panel-default" ng-controller="FieldController">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <h2 class="align-center col-md-9">{{selectedForm.title}}</h2>
            <form>
                <ul sortable-fields id="sortable-fields">
                    <li ng-repeat="field in sortableArray" ng-switch="field.type">
                        <div class="col-md-9" ng-switch-when="TEXT">
                            <label>{{field.label}}</label>
                            <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                        </div>

                        <div class="col-md-9" ng-switch-when="EMAIL">
                            <label>{{field.label}}</label>
                            <input type="email" class="form-control" placeholder="{{field.placeholder}}">
                        </div>

                        <div class="col-md-9" ng-switch-when="TEXTAREA">
                            <label>{{field.label}}</label>
                            <textarea class="width-100" rows="5" placeholder="{{field.placeholder}}"></textarea>
                        </div>

                        <div class="col-md-9" ng-switch-when="DATE">
                            <label for="field.label">{{field.label}}</label>
                            <input type="date" class="form-control" id="field.label">
                        </div>

                        <div class="col-md-9" ng-switch-when="OPTIONS">
                            <label for="field.label">{{field.label}}</label>
                            <select class="form-control" id="field.label">
                                <option ng-repeat="option in field.options">{{option.label}}</option>
                            </select>
                        </div>

                        <div class="col-md-9" ng-switch-when="CHECKBOXES">
                            <label>{{field.label}}:</label>
                            <div ng-repeat="option in field.options">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{option.value}}">{{option.label}}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9" ng-switch-when="RADIOS">
                            <label>{{field.label}}</label>
                            <div ng-repeat="option in field.options">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="{{option.value}}"> {{option.label}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <br>
                            <button ng-click="editField(field)">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </button>
                            <button ng-click="addField(field.type)">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </button>
                            <button ng-click="removeField(field)">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </button>
                            <button ng-click="selectField($index)">
                                <scan class="glyphicon glyphicon-menu-hamburger"></scan>
                            </button>
                        </div>
                    </li>
                </ul>
                <hr>
                <div class="row">
                    <div class="col-md-9">
                        <label for="newField">Add a New Field:</label>
                        <select class="form-control" id="newField" ng-model="fieldType">
                            <option>Single Line Text Field</option>
                            <option>Multi Line Text Field</option>
                            <option>Date Field</option>
                            <option>Dropdown Field</option>
                            <option>Checkboxes Field</option>
                            <option>Radio Buttons Field</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <br>
                        <button ng-click="addField(fieldType)">
                            <scan class="glyphicon glyphicon-plus " aria-hidden="true "></scan>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>