    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome!</h1>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in venenatis ipsum, non luctus ligula. Nullam posuere neque a dui maximus, sit amet interdum diam varius. Ut rutrum augue euismod est accumsan, eget porta metus sollicitudin. Pellentesque sodales vitae ipsum ac maximus. Integer sollicitudin ac lectus non varius. Ut vel augue blandit, imperdiet augue vel, sollicitudin orci. Pellentesque aliquet viverra lacus, non venenatis elit. Donec auctor at diam vitae pretium. Aliquam ex turpis, mollis sed dolor quis, viverra efficitur lacus. Donec at pulvinar ligula. Duis luctus ac metus id ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>

