<div>
    <div class="pad-10-px back-white-black-border margin-1">
        <h3>Private Events</h3>
        <p>
            If you’d like to schedule a private event, <a href="#/contact">contact us</a>!
        </p>
        <p>&nbsp;</p>
        <h3>Weekly Events</h3>
        <p>
            We’re currently reworking our event schedule – if there’s anything you’d like to see happen,
            let us know!

            In the meantime, drop in anytime we're <a href="#/home">open</a>!
        </p>
    </div>
</div>