<div class="back-white-black-border pad-10-px margin-1 col-xs-12">
    <p ng-show="currentUser" ng-class="{'active': $location.url()=='/update'}" class="align-center">
        <a href="#/update">Update Profile</a>
    </p>

    <div class="col-xs-3 left-div">
        Username: <br>
        <br>
        Games Played:
    </div>

    <div class="col-xs-9 right-div" ng-controller="ProfileController">
        {{currentUser.username}}<br>
        <br>
        <table class="table table-striped table-bordered">
            <tr>
                <th colspan="4">
                    Add or Update a Game
                </th>
            </tr>
            <tr ng-show="currentUser">
                <td colspan="4">
                    <div class="pad-10-px">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="gameName">Name</label>
                                <input ng-model="gameNameText" type="text" class="form-control" id="gameName">
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="addGame(gameNameText)">
                                Add Game
                            </button>
                        </form>
                    </div>
                </td>
            </tr>

            <tr>
                <th>
                    Game
                </th>
                <th>
                    Times Played
                </th>
                <th>
                    Date Last Played
                </th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="gm in games">
                <td>{{gm.name}}</td>
                <td>{{gm.counter}}</td>
                <td>{{gm.dateLastPlayed.toDateString()}}</td>
                <td><button ng-click="removeGame(gm)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button></td>
            </tr>
        </table>
    </div>


</div>