<div class="padding-top">
    <div class="float-left-50" style="background-color: white; border: 1px solid black; margin: 2px; margin-right: 1px;">
        <div class="margin-left-right">
            <h2 class="align-center">Hours</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu ultricies nulla,
                eu imperdiet quam. Nam hendrerit a nisl ac porttitor. Fusce convallis diam dapibus,
                dapibus orci euismod, pellentesque est. Vestibulum efficitur rhoncus tellus eu elementum.
                Suspendisse cursus eros nec leo lobortis dictum. Aenean molestie, lectus a malesuada
                porttitor, dolor nisi pulvinar sem, in vulputate massa velit id augue. Suspendisse
                suscipit, quam quis hendrerit faucibus, erat mauris mollis arcu, nec tempor ex ipsum
                vel diam. Integer arcu urna, fermentum in ex nec, pharetra laoreet dui. Mauris convallis
                non diam et laoreet. Donec vitae laoreet lectus. Mauris tristique eros ac tellus vehicula
                faucibus. Proin tempus, dolor non facilisis tempus, dolor risus volutpat orci, pretium porta
                nunc leo quis nisl. Cras auctor consectetur varius. Quisque sodales nibh in urna molestie
                sagittis. Sed commodo a augue quis sollicitudin.</p>
        </div>
        <div class="margin-left-right">
            <h2 class="align-center">Pricing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu ultricies nulla,
                eu imperdiet quam. Nam hendrerit a nisl ac porttitor. Fusce convallis diam dapibus,
                dapibus orci euismod, pellentesque est. Vestibulum efficitur rhoncus tellus eu elementum.
                Suspendisse cursus eros nec leo lobortis dictum. Aenean molestie, lectus a malesuada
                porttitor, dolor nisi pulvinar sem, in vulputate massa velit id augue. Suspendisse
                suscipit, quam quis hendrerit faucibus, erat mauris mollis arcu, nec tempor ex ipsum
                vel diam. Integer arcu urna, fermentum in ex nec, pharetra laoreet dui. Mauris convallis
                non diam et laoreet. Donec vitae laoreet lectus. Mauris tristique eros ac tellus vehicula
                faucibus. Proin tempus, dolor non facilisis tempus, dolor risus volutpat orci, pretium porta
                nunc leo quis nisl. Cras auctor consectetur varius. Quisque sodales nibh in urna molestie
                sagittis. Sed commodo a augue quis sollicitudin.</p>
        </div>
    </div>
    <div style="background-color: #E4D264; width: 2px;"></div>
    <div style="background-color: white; border: 1px solid black; margin: 2px; margin-left: 1px;">
        <h2 class="align-center">About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu ultricies nulla,
            eu imperdiet quam. Nam hendrerit a nisl ac porttitor. Fusce convallis diam dapibus,
            dapibus orci euismod, pellentesque est. Vestibulum efficitur rhoncus tellus eu elementum.
            Suspendisse cursus eros nec leo lobortis dictum. Aenean molestie, lectus a malesuada
            porttitor, dolor nisi pulvinar sem, in vulputate massa velit id augue. Suspendisse
            suscipit, quam quis hendrerit faucibus, erat mauris mollis arcu, nec tempor ex ipsum
            vel diam. Integer arcu urna, fermentum in ex nec, pharetra laoreet dui. Mauris convallis
            non diam et laoreet. Donec vitae laoreet lectus. Mauris tristique eros ac tellus vehicula
            faucibus. Proin tempus, dolor non facilisis tempus, dolor risus volutpat orci, pretium porta
            nunc leo quis nisl. Cras auctor consectetur varius. Quisque sodales nibh in urna molestie
            sagittis. Sed commodo a augue quis sollicitudin.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu ultricies nulla,
            eu imperdiet quam. Nam hendrerit a nisl ac porttitor. Fusce convallis diam dapibus,
            dapibus orci euismod, pellentesque est. Vestibulum efficitur rhoncus tellus eu elementum.
            Suspendisse cursus eros nec leo lobortis dictum. Aenean molestie, lectus a malesuada
            porttitor, dolor nisi pulvinar sem, in vulputate massa velit id augue. Suspendisse
            suscipit, quam quis hendrerit faucibus, erat mauris mollis arcu, nec tempor ex ipsum
            vel diam. Integer arcu urna, fermentum in ex nec, pharetra laoreet dui. Mauris convallis
            non diam et laoreet. Donec vitae laoreet lectus. Mauris tristique eros ac tellus vehicula
            faucibus. Proin tempus, dolor non facilisis tempus, dolor risus volutpat orci, pretium porta
            nunc leo quis nisl. Cras auctor consectetur varius. Quisque sodales nibh in urna molestie
            sagittis. Sed commodo a augue quis sollicitudin.</p>
    </div>
</div>